<app-header></app-header>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="cont" *ngIf="!loading">
    <p>Headers:</p>
    <p>{{mnk.parameters[0]}}</p>
  <tr *ngFor="let header of mnk.headers">
    <td> {{header}} </td>
    <td> {{getParam(header)}} </td>
  </tr>
  <p>Errors:</p>
  <tr *ngFor="let averageEstimateErro of mnk.averageEstimateError">
      <td> {{averageEstimateErro}} </td>
  </tr>
  <p>CRV</p>
 <p>{{mnk.crv}}</p> 
 <p>R2</p>
 <p>{{mnk.r2}}</p> 
 <p>residualVariance</p>
 <p>{{mnk.residualVariance}}</p> 
 <p>standardDeviation</p>
 <p>{{mnk.standardDeviation}}</p> 
</div>