.cont{
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 90%;
}
.hellwigButtons{
    display: inline-flex;
    float: right;
    margin-right: 10%;
}

.button1{
    color: #6df884
}

.button2{

    color: #6df884;
}


.hellwig{
    width: 100%;  
}

