.cont{
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 90%;
}
.hellwigButtons{
    float: right;
    align-items: flex-end;
}
.button{
    display:inline-flex;
    margin-left: 1%;
    margin-right: 1%;
}
.hellwig{
    width: 100%;  
}

.swiniak{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 5%;
}