<app-header></app-header>
<div class="cont">
  <div *ngIf="!loading">
  <div *ngIf="!choosenHeaders" class="hellwig">
    <p>Czy chcesz użyć metody Hellwiga do wyboru zmiennych?</p>
    <div class="hellwigButtons">
      <label class="button1" (click)="hellwigMethodChoosen()">+-----+<br> | Tak |<br>
        +-----+</label><p>&nbsp;</p>
      <label class="button2" (click)="createModel()">+-----+<br> | Nie |<br>
        +-----+</label>
    </div>
  </div>
  <div *ngIf="choosenHeaders">
    <p>Metodą Helliwga wybrano zmienne:</p>
    <div *ngFor="let choosenHeader of choosenHeaders">
      <div class="header"> <span style="color: #6df884">o </span>{{choosenHeader}}</div> 
    </div>
  </div>
  <div *ngIf="choosenHeaders" class="hellwig">
    <p>Czy chcesz użyć tych zmiennych do stworzenia modelu, czy wszystkich?</p>
    <div class="hellwigButtons">
      <label class="button1" (click)="modelWithHellwig()">+-----+<br> | Tak |<br>+-----+</label><p>&nbsp;</p>
      <label class="button2" (click)="createModel()">+-----+<br> | Nie |<br>+-----+</label>
    </div>
  </div>
</div>
<div *ngIf ="loading">
  <app-loading></app-loading>
</div>
</div>