<div style="text-align: center; margin: 1%">
  <div><span style="color:#447294;">__...__..........._......_........_ ..................................._
      ..................................</span></div>
  <div><span style="color:#5785a6;">| .\/. |.........| |....| |......| |..................................|
      |..................................</span></div>
  <div><span style="color:#6a97b8;">| \../ |.___...__| |.___| |...___| |._____. _ __...___.._ __ ___...___| |_ _ __ _..
      _..___ _____ __.._..._.</span></div>
  <div><span style="color:#7caac9;">| |\/| |/ _ \ / _` |/ _ \ |../ _ \ |/ / _ \| '_ \ / _ \| '_ ' _ \ / _ \ __| '__| |
      | |/ __|_. / '_ \| | | |</span></div>
  <div><span style="color:#8fbcdb;">| |..| | (_) | (_| |. __/ |..| __/ . | (_) | | | | (_) | | | | | |. __/ |_| |..|
      |_| | (__ / /| | | | |_| |</span></div>
  <div><span style="color:#83ceb3;">|_|..|_|\___/.\__,_|\___|_|..\___|_|\_\___/|_| |_|\___/|_| |_|
      |_|\___|\__|_|...\__, |\___/___|_| |_|\__, |</span></div>
  <div><span style="color:#76e08a;">.................................................................................__/
      |................__/ |</span></div>
  <div><span style="color:#6af262;">................................................................................|___/................|___/.</span></div>

</div>